<div class="ui large fixed menu">
  <div class="ui container">
    <%= link_to "Home", root_path, class: "active item" %>
    <a class="item">Work</a>
    <a class="item">Company</a>
    <a class="item">Careers</a>

    <div class="right main menu">
      <% if user_signed_in? %>
        <a href="#" class="ui right floated dropdown item">
          <i class="user outline icon"></i> <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Settings</div>
            <div class="item">Profile</div>
            <div class="divider"></div>
            <div class="item signout" data-target="<%= destroy_user_session_path %>" data-method="DELETE" data-disabled="true">Sign Out</div>
          </div>
        </a>
      <% else %>
        <div class="item">
          <%= link_to "Sign In", new_user_session_path, class: "ui button" %>
        </div>
        <div class="item">
          <%= link_to "Sign Up", new_user_registration_path, class: "ui primary button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
