<div class="ui large fixed menu">
  <div class="ui container">
    <a class="active item">Home</a>
    <a class="item">Work</a>
    <a class="item">Company</a>
    <a class="item">Careers</a>
    <% unless user_signed_in? %>
      <div class="right menu">
        <div class="item">
          <%= link_to "Login", new_user_session_path, class: "ui button" %>
        </div>
        <div class="item">
          <%= link_to "Sign Up", new_user_registration_path, class: "ui primary button" %>
        </div>
      </div>
  <% end %>
  </div>
</div>
